{% extends 'base.html' %}

{% block main %}
    {% load static %}
    <script src="{% static 'js/service.js' %}"></script>
    <style>
     div#account-list span
     {
         margin: 1rem;
     }
     div#account-list div
     {
         display: flex;
     }
    </style>

    {% csrf_token %}
<div id="account-list">

</div>
    <script>

        $(document).ready(function () {
            url = '{% url 'service:ajax_account_list' %}';
            make_account_list(function (data)
            {
                let html='';
                data.result.forEach(function (ele)
                {
                    accountInfo.accList.push({'obj_id':ele.id ,'name':ele.name, 'nickName':ele.nickName,
                    'address':ele.address, 'age':'ele.age'});
                    html += `<div><span>${ele.name}</span><span>${ele.nickName}</span><span>${ele.address}</span>
                    <span>${ele.age}</span></div>`;

                })
                $("#account-list").append(html);
                console.log(accountInfo);
            });
        });


    </script>
{% endblock %}