{% extends 'base.html' %}

{% block main %}
    <h2>{{ info }}</h2>
    <form method="post" action="{% url 'mgr:sign_up' %}">
    {% csrf_token %}
        {{ form.as_p }}
    <button class="btn btn-primary">저장</button>
    </form>
{% endblock %}